<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zig Milestone Monitor</title>
    <meta name="author" content="Jiacai Liu">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/magick.css">
    <link rel="stylesheet" href="app.css">
    <script>
      const historiesById = <%- historiesByIdStr  %>;
      const idToTitle  = <%- idToTitleStr  %>;
      window.onload = function() {
      <% for(const id of idsToShow) { %>
      renderChart(historiesById, idToTitle, <%= id %>);
      <% } %>
      }
    </script>
  </head>

  <body>
    <main>
      <h2><a href="https://github.com/ziglang/zig/milestones">Zig Milestone</a> Monitor</h2>
      <% for(const id of idsToShow) { %>
      <section>
        <div class="chart" id="chart-<%= id %>"></div>
        <table>
          <caption>Latest 10 histories</caption>
          <tr>
            <th>Date</th>
            <th>Open issues</th>
            <th>Closed issues</th>
          </tr>
          <% for(const row of historiesById[id].slice(0, 10)) { %>
          <tr>
            <td><%= new Date(row[0]).toLocaleString('en-GB') %></td>
            <td><%= row[1] %></td>
            <td><%= row[2] %></td>
          </tr>
          <% } %>
        </table>
      </section>
      <% } %>

      <section>
        Last Update: <%= now %>(UTC)
      </section>

      <footer> &copy; 2024 ZigCC |
        <a href="https://github.com/zigcc/zig-milestone">GitHub</a>
      </footer>
    </main>
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
