<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zig Milestone Monitor</title>
    <meta name="author" content="Jiacai Liu">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/magick.css">
    <link rel="stylesheet" href="app.css">
    <script>
      const historiesById = <%- historiesByIdStr  %>;
      const idToTitle  = <%- idToTitleStr  %>;
      window.onload = function() {
      <% for(const id of idsToShow) { %>
        renderChart(historiesById, idToTitle, <%= id %>);
      <% } %>
      }
    </script>
  </head>

  <body>
    <main>
      <header><a href="https://github.com/ziglang/zig/milestones">Zig Milestone</a> Monitor</header>
      <section>
      <% for(const id of idsToShow) { %>
        <div class="chart" id="chart-<%= id %>"></div>
      <% } %>
      </section>
      <section>
        Last Update: <%= now %>(UTC)
      </section>

      <footer> &copy; 2024 ZigCC |
        <a href="https://github.com/zigcc/zig-milestone">GitHub</a>
      </footer>
    </main>
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
